img {
    border: 1px solid black;
    margin: 10px;
    background-color: white;
    border-radius: 5%;
}

body {
    background-color: green;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 50vw;
}

.player-cards {
    text-align: center;
}

.player {
    text-align: center;
    margin: 50px;
    width: 50vw;
    display: block;
}