img {
    border: 1px solid black;
    margin: 10px;
    background-color: white;
    border-radius: 5%;
    width: 100px;
    height: 143px;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin: auto;
    width: 100vw;
}

.player-cards {
    text-align: center;
    margin-bottom: 75px;
}

.dealer-cards {
    text-align: center;
    margin-bottom: 75px;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    margin: auto;
}

.gameboard {
    width: 60vw;
    height: 100vh;
}

.player {
    text-align: center;
    display: block;
    margin-top: 50px;
}

.dealer {
    text-align: center;
    display: block;
    margin: auto;
}

.buttons {
    text-align: center;
    display: block;
}

.player-scoreboard {
    width: 20vw;
    height: 100vh;
    padding: 20px;
}

.dealer-scoreboard {
    width: 20vw;
    height: 100vh;
    padding: 20px;
}

.game-text {
    text-align: center;
    margin-top: 30px;
}

.game-text-description {
    text-align: center;
    margin: 50px 0;
}

.card {
    margin-top: 185px;
}

p {
    padding: 20px;
}

