img {
    border: 1px solid black;
    margin: 10px;
    background-color: white;
    border-radius: 5%;
    width: 150px;
    height: 217px;

}

body {
    background-color: green;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin: auto;
    width: 100vw;
    align-content: center;
}

.player-cards {
    text-align: center;
}

.dealer-cards {
    text-align: center;
}


.gameboard {
    margin-top: 50px;
}

.player {
    text-align: center;
    width: 100vw;
    display: block;
    margin: auto;
}

.dealer {
    text-align: center;
    width: 100vw;
    display: block;
    margin: auto;
}

.buttons {
    text-align: center;
    width: 100vw;
    display: block;
}